<h1><%= @resume[:name] %></h1>
<h3><%= @resume[:email] %></h3>

<h4><%= @resume[:tech] %></h4>

<li><%= @resume[:server] %></li>

<li><%= @resume[:client] %></li>


<h3><%= @resume[:skills] %></h3>

<li>Strong public communication skills, well organized, excellent time management, capable of working well independently or in a collaborative group
</li>

<li>Able to speak, read, and write basic Spanish</li>

<h3>EDUCATION</h3>
<h4>MakerSquare</h4>

<p>Full-Stack Web Development,          Graduated: Jan 2014</p>
<p>Austin, Texas</p>

<h4>Sam Houston State University</h4>

<p>Bachelor of Arts Major: History, Graduated: May 2009
Minors: Political Science, English</p>
<p>Huntsville, Texas</p>


<h3>RELEVANT EXPERIENCE</h3>
<h4>Full Stack Web Developer Student, MakerSquare</h4>
<p>MakerSquare is a highly selective school that trains software developers through an in-person, full-time bootcamp.
Graduates of MakerSquare are full stack developers that build web applications using Ruby on Rails, JavaScript, JavaScript application frameworks (backbone.js, riot.js), jQuery, HTML/CSS, Git version control, and other technologies.</p>
<p>Completed two weekend long hackathons</p>

<h3>Projects</h3>
<h4>Pub Crawl Application</h4>
<li>Role: Built a Responsive mobile site both aesthetically pleasing and user friendly utilizing HTML5, CSS3, Bootstrap, and Ruby on Rails</li>
<li>Info: Functional after 16 hours of programming with 2 partners</li>
<li>Links: https://github.com/elaroche/crawl</li>

<h4>House Sitter App</h4>
<li>Role: Building a Responsive mobile site both aesthetically pleasing and user friendly utilizing HTML5, CSS3, Foundation, SASS, JavaScript, Unicorn, and Ruby on Rails</li>
<li>Info: Functional after 120 of programming with 2 partners</li>
<li>Links: https://github.com/erlaroche/Home_Sit</li>
